
*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow: hidden;
}
#mapid{
    width:100vw;
    height: 100vh;
}
.popup{
    width:300px;
    height:200px
}
.leaflet-popup-content{
    width: 480px!important;
}
.rightBox{
    position: absolute;
    width: 700px;
    height: 100vh;
    top: 0px;
    right: 0px;
    transition: all 0.5s linear;
    background: #f3f3f3;
    z-index: 99999;
    padding: 10px;
    margin-bottom: 10px;
}
.rightBoxAll{
    position: relative;
    width: 100%;
    height: 100%;
}
.toogleBox{
    position: absolute;
    width: 30px;
    background: #e5e5e5;
    border-radius: 6px 0px 0px 6px;
    height: 80px;
    top: 40%;
    left: -30px;
    text-align: center;
}
.toogleBox img{
    margin-top: 26px;
    height: 24px;
}
.rightBoxHeader{
    width: 100%;
    height: 80px;
    background: #548af5;
}
.rightBoxHeaderLeft .layui-form-item{
    width: 240px!important;
    float: left;
}
.rightBoxHeaderLeft .layui-input-block{
    margin-left: 20px;
    margin-top: 20px;
}
.rightBoxHeaderRight{
    text-align: right;
    width: 240px;
    float: right;
    padding: 4px 10px;
    position: relative;
}
#showTime{
    position: absolute;
    width: 200px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    top: 4px;
    right: 10px;
}
.showDetail{
    line-height: 80px;
    color: #07183a;
    cursor: pointer;
}
.rightBoxBody{
    width: 100%;
    overflow-y: scroll;
    height: calc(100% - 80px);
}
.rightBoxBody::-webkit-scrollbar{
    width: 0px;
}
.rightBoxBodyTop{
    text-align: left;
    box-sizing: border-box;
}
.rightBoxBodyTop .layui-form-label{
    width: 60px;
}
.rightBoxBodyTop .layui-form-item{
    margin: 5px;
}
.rightBoxBodyContent{
    margin-bottom: 10px;
    background: #fff;
}
.rightBoxBodyContent .layui-form-label{
    width: 70px;
}
.rightBoxBodyContent .layui-form-item{
    margin: 5px;
}
.rightBoxBodyContentTitle{
    width: 100%;
    height:40px;
    line-height:40px;
    vertical-align: middle;
    border-bottom: 1px solid #548af5;
    padding: 0px 10px;
}
.rightBoxBodyContentTitle span{
    display: inline-block;
    width:30px;
    height:30px;
    vertical-align: middle;
    border-radius: 100%;
    background: #548af5;
    text-align:center;
}
.rightBoxBodyContentTitle span img{
    vertical-align: middle;
    width: 20px;
    margin-top: -12px;
    height: 20px;
}
.rightBoxBodyContent .lineInput{
    /* border: none; */
}
.rightBoxBodyContent .layui-form{
    /* padding: 10px 0px; */
}
.rightBoxBodyContent .layui-inline{
    width: 300px;
}
.rightBoxBodyContent  .layui-input-inline{
    width: 150px;
}
.greenBgSpan{
    border-bottom: 1px solid #6df18a;
}
.yellowBgSpan{
    border-bottom: 1px solid #f3f738;
}
.greenBgSpan span{
    background: #6df18a!important;
}
.yellowBgSpan span{
    background: #f3f738!important;
}
.desc{
    height: 30px;
    line-height: 30px;
}