
*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow: hidden;
}
#mapid{
    width:100vw;
    height: 100vh;
}
.popup{
    width:300px;
    height:200px;
    position: relative;
}
.closePopup{
    position: absolute;
    top: -34px;
    right: -38px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
}
.closePopup i{
    margin-left: -7px;
}
.leaflet-popup-content-wrapper{
    border:10px solid #539a81;
    border-radius: 4px;
}
.leaflet-popup-tip{
    background: #539a81;
}
.leaflet-popup-close-button{
    display: none;
}
.leaflet-popup-content{
    width: 480px!important;
}
.leaflet-zoom-animated{
    bottom: 20px!important;
}
.rightBox{
    position: absolute;
    width: 700px;
    height: 100vh;
    top: 0px;
    right: -700px;
    transition: all 0.5s linear;
    background: #f3f3f3;
    z-index: 99999;
    padding: 0px;
    margin-bottom: 10px;
}
.rightBoxAll{
    position: relative;
    width: 100%;
    height: 100%;
}
.toogleBox{
    position: absolute;
    width: 30px;
    background: #e5e5e5;
    border-radius: 6px 0px 0px 6px;
    height: 80px;
    top: 40%;
    left: -30px;
    text-align: center;
}
.toogleBox img{
    margin-top: 26px;
    height: 24px;
}
.rightBoxHeader{
    width: 100%;
    height: 80px;
    background: #548af5;
}
.rightBoxHeaderLeft .layui-form-item{
    width: 240px!important;
    float: left;
}
.rightBoxHeaderLeft .layui-input-block{
    margin-left: 20px;
    margin-top: 20px;
}
.rightBoxHeaderRight{
    text-align: right;
    width: 240px;
    float: right;
    padding-right: 10px;
    position: relative;
    box-sizing: border-box;
}
#showTime{
    position: absolute;
    width: 200px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
    top: 4px;
    right: 10px;
}
.showDetail{
    line-height: 80px;
    color: #07183a;
    cursor: pointer;
}
.rightBoxBody{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: calc(100% - 80px);
}
.rightBoxBody::-webkit-scrollbar{
    width: 0px;
}
.rightBoxBodyTop{
    text-align: left;
    box-sizing: border-box;
}
.rightBoxBodyTop .layui-form-label{
    width: 60px;
}
.rightBoxBodyTop .layui-form-item{
    margin: 5px 0px;
}
.rightBoxBodyContent{
    margin-bottom: 10px;
    background: #fff;
}
.rightBoxBodyContent .layui-form-label{
    width: 70px;
}
.rightBoxBodyContent .layui-form-item{
    margin: 5px;
}
.rightBoxBodyContentTitle{
    width: calc(100% - 20px);
    height:40px;
    line-height:40px;
    vertical-align: middle;
    border-bottom: 1px solid #548af5;
    padding: 0px 10px;
}
.rightBoxBodyContentTitle span{
    display: inline-block;
    width:30px;
    height:30px;
    vertical-align: middle;
    border-radius: 100%;
    background: #548af5;
    text-align:center;
}
.rightBoxBodyContentTitle span img{
    vertical-align: middle;
    width: 20px;
    margin-top: -13px;
    height: 20px;
}
.rightBoxBodyContent .layui-form{
    padding: 10px 0px;
    position: relative;
}
.form-btn{
    position: absolute;
    top: 20px;
    left: 286px;
    width: 26px;
    height: 84px;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
.rightBoxBodyContentWith .layui-btn{
    padding: 2px 6px!important;
}
.rightBoxBodyContent .layui-inline{
    width: 300px;
}
.rightBoxBodyContent  .layui-input-inline{
    width: 150px;
}
.rightBoxBodyContentWith .layui-inline{
    width: 300px;
}
.rightBoxBodyContentWith .layui-input-inline{
    width: 130px;
}
.rightBoxBodyContentWith .layui-inline:nth-child(even){
    width: 200px;
}
.rightBoxBodyContentWith .layui-inline:nth-child(even) .layui-form-label{
    width: 0px;
    padding: 0px;
}
.greenBgSpan{
    border-bottom: 1px solid #6df18a;
}
.yellowBgSpan{
    border-bottom: 1px solid #f3f738;
}
.greenBgSpan span{
    background: #6df18a!important;
}
.yellowBgSpan span{
    background: #f3f738!important;
}
.desc{
    height: 30px;
    line-height: 30px;
}
.lineInput>input{
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}
.rightBoxBodyTop .lineInput>input{
    background: #f5f5f5;
    border-radius: 0px;
    border-bottom: 1px solid green;
}
.leaflet-label{
    width: 100px;
    text-align: center;
    border: 1px solid #259feb;
    padding: 0px;
}
.blueBlock{
    background:#259feb;
    color: #fff;
}
.leaflet-label div div{
    height: 24px;
    line-height: 24px;
}
.leaflet-tooltip-top:before{
    border-top-color: transparent!important;
}